/* General Styles */
body { 
    font-family: "Arial", "Verdana", sans serif;
    background-color: #eef2f3; 
    color: #1a237e;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header Styles */
h1 {
    color: #007BFF;
    font-size: 2.5rem;
    margin-top: 20px
}

hr {
   width: 50%;
   margin: 20px auto;
   border: 1px solid #007BFF;
}

/* Section Titles */
h2 {
    color: #444;
    margin-top: 20px;
}

/* Lists */ 
ul, ol {
    display: inline-block;
    text-align: left;
    margin: 10px auto;
    padding: 0;
}

li {
    font-size: 1.2rem;
    margin: 5px 0;
}

/* Links Styling */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
